---
layout: default
---

<div class="jumbotron">
    <h1 class="display-3">{{site.data.locales[page.lang].home.jumbotron_heading}}</h1>
    <p class="lead">{{site.data.locales[page.lang].home.jumbotron_lead}}</p>
    <hr class="my-4">
    <p>{{site.data.locales[page.lang].home.jumbotron_paragraph}}</p>
    <p class="lead">
	<a class="btn btn-primary btn-lg" href="{{site.data.locales[page.lang].home.jumbotron_url | absolute_url}}" role="button">{{site.data.locales[page.lang].home.jumbotron_button}}</a>
    </p>
</div>
